<div class="page-container">
  <h1>Cocktail's list</h1>

  <% @cocktails.each do |cocktail| %>
    <div class="card-product">
       <%= cl_image_tag cocktail.photo.key, class: "card-product-img" %>
      <div class="card-product-infos">
        <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
        <%= link_to "Delete cocktail?", cocktail_path(cocktail),
        method: :delete,
        data: { confirm: "Are you sure?" } %>
      </div>
    </div>
  <% end %>
  <div>
    <%= link_to "Create a new cocktail?", new_cocktail_path, class: "btn btn-add" %>
  </div>
</div>
